.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.circle {
  width: 20px;
  height: 20px;
}

.s_circle {
  width: 5px;
  height: 5px;
  margin: 0px;
}

.deselect {
  background-image: url("../images/deselect.png")
}
.aka {
  background-image: url("../images/aka.png")
}
.ao {
  background-image: url("../images/ao.png")
}
.apricot {
  background-image: url("../images/apricot.png")
}
.cha {
  background-image: url("../images/cha.png")
}
.haiiro {
  background-image: url("../images/haiiro.png")
}
.kiiro {
  background-image: url("../images/kiiro.png")
}
.kimidori {
  background-image: url("../images/kimidori.png")
}
.kogecha {
  background-image: url("../images/kogecha.png")
}
.kuro {
  background-image: url("../images/kuro.png")
}
.midori {
  background-image: url("../images/midori.png")
}
.murasaki {
  background-image: url("../images/murasaki.png")
}
.pink {
  background-image: url("../images/pink.png")
}
.shiro {
  background-image: url("../images/shiro.png")
}

.s_deselect {
  background-image: url("../images/s_deselect.png")
}
.s_aka {
  background-image: url("../images/s_aka.png")
}
.s_ao {
  background-image: url("../images/s_ao.png")
}
.s_apricot {
  background-image: url("../images/s_apricot.png")
}
.s_cha {
  background-image: url("../images/s_cha.png")
}
.s_haiiro {
  background-image: url("../images/s_haiiro.png")
}
.s_kiiro {
  background-image: url("../images/s_kiiro.png")
}
.s_kimidori {
  background-image: url("../images/s_kimidori.png")
}
.s_kogecha {
  background-image: url("../images/s_kogecha.png")
}
.s_kuro {
  background-image: url("../images/s_kuro.png")
}
.s_midori {
  background-image: url("../images/s_midori.png")
}
.s_murasaki {
  background-image: url("../images/s_murasaki.png")
}
.s_pink {
  background-image: url("../images/s_pink.png")
}
.s_shiro {
  background-image: url("../images/s_shiro.png")
}
