<div>
<script type="text/ng-template" id="contextMenu.tmpl.html">
    <div class="modal-header">
        <h4>いろをえらんでください</h4>
    </div>
    <div class="modal-body" style="height: 50px; width: 200px; position: relative;">
      <div class="circle shiro" ng-click="select('shiro')" style="position: absolute; top: 0px; left:0px;"></div>
      <div class="circle aka" ng-click="select('aka')" style="position: absolute; top: 0px; left:21px;"></div>
      <div class="circle ao" ng-click="select('ao')" style="position: absolute; top: 0px; left:42px;"></div>
      <div class="circle kiiro" ng-click="select('kiiro')" style="position: absolute; top: 0px; left:63px;"></div>
      <div class="circle midori" ng-click="select('midori')" style="position: absolute; top: 21px; left:0px;"></div>
      <div class="circle cha" ng-click="select('cha')" style="position: absolute; top: 21px; left:21px;"></div>
      <div class="circle kuro" ng-click="select('kuro')" style="position: absolute; top: 21px; left:42px;"></div>
      <div class="circle deselect" ng-click="select('deselect')" style="position: absolute; top: 21px; left:63px;"></div>
    </div>
</script>
</div>
