<div>
  <script type="text/ng-template" id="handleSavedRecDialog.tmpl.html">
    <div class="modal-header">
      <h4>ほぞんしたビーズ</h4>
    </div>
    <div class="modal-body">
      <label>なまえ：{{name}}</label>
    </div>
    <div class="modal-footer">
      <input type="button" class="btn btn-default" value="へんしゅうする" ng-click="edit()"/>
      <input type="button" class="btn btn-default" value="さくじょする" ng-click="deleteData()"/>
      <input type="button" class="btn btn-default" value="キャンセル" ng-click="cancel()"/>
    </div>
  </script>
</div>
